<h3>{{ViewTitle}}</h3>

<form autocomplete="off" action="/employee" method="POST">
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Enter Full Name" value="{{employee.fullName}}">
        <div class="text-danger">
            {{employee.fullNameError}}
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Enter Email" value="{{employee.email}}">
        <div class="text-danger">
            {{employee.emailError}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Mobile</label>
            <input type="text" class="form-control" name="mobile" placeholder="Enter Mobile" value="{{employee.mobile}}">
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" name="city" placeholder="Enter city" value="{{employee.city}}">
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-info" type="submit">Submit</button>
    </div>
</form>